@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Moirai+One&display=swap");

@media screen and (min-width: 2500px) {
  :root {
    font-size: 1.33rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

html::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* header */
header {
  z-index: 1;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

nav > ul > li {
  float: left;
  margin: 2rem 2rem;
}

nav > ul > li > a {
  transition: all 0.5s;
}

nav > ul > li > a:hover {
  font-size: 1.1rem;
  font-weight: 700;
}

nav > ul > li > a::after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 0;
  border-bottom: 1px solid white;
  transition: all 0.5s;
}

nav > ul > li > a:hover::after {
  left: 0%;
  width: 100%;
  border-bottom: 1px solid white;
}

/* main */
section {
  height: 100vh;
}

#home {
  background-color: #333333;
}

.title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.title > h1 {
  margin-bottom: 1rem;
  visibility: hidden;
  white-space: nowrap;
  font-family: "Moirai One", sans-serif;
  font-size: 3rem;
}

.title > h1::before {
  content: "Hello, World!";
  overflow: hidden;
  visibility: visible;
  position: absolute;
  left: 0;
  top: 0;
  padding-right: 5px;
  animation: typing 3s steps(30), blinking 1s 2s infinite;
}

@keyframes typing {
  0% {
    width: 0%;
    border-right: 1px solid white;
    border-right-width: 50%;
  }
  50% {
    width: 100%;
  }
}

@keyframes blinking {
  50% {
    border-right: 1px solid white;
  }
}

#about {
  position: relative;
  background-image: url(../images/profile.jpg);
  background-size: cover;
}

.about-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  width: 40rem;
  height: 40rem;
  padding: 2rem;
  border: 1px solid white;
  border-radius: 1rem;
  box-shadow: 0 0 5px white;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 2rem;
}

.about-text {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.about-text > ul > li {
  margin-top: 2rem;
}

.about-text > ul > li:nth-child(1) {
  margin-top: 0;
}

.about-text-key > li {
  padding-right: 2rem;
}

.about-text-value > li {
  padding-left: 2rem;
  border-left: 1px solid white;
}

#favorite {
  position: relative;
  background-color: #333333;
}

.favorite-container {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.favorite-container > h1 {
  position: absolute;
  left: 50%;
  top: -3rem;
  transform: translateX(-50%);
  font-size: 2rem;
}

.favorite-wrap {
  position: relative;
  margin: 2rem;
}

.favorite-wrap > .img {
  cursor: pointer;
}

.favorite-wrap > .img > img {
  width: 25rem;
  border: 7px solid #555;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.favorite-wrap > .img > p {
  visibility: hidden;
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  font-size: 2rem;
  opacity: 0;
  transition: all 1s;
}

.favorite-wrap > .img:hover p {
  visibility: visible;
  opacity: 1;
}

.favorite-wrap > .img::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.favorite-wrap > .img:hover::before {
  background-color: rgba(0, 0, 0, 0.5);
}

.favorite-wrap > .img::after {
  content: "";
  visibility: hidden;
  position: absolute;
  right: 2rem;
  top: 2rem;
  width: 0;
  height: 0;
  border-right: 1px solid white;
  border-top: 1px solid white;
  transition: all 0.5s;
}

.favorite-wrap > .img:hover::after {
  visibility: visible;
  width: 50px;
  height: 50px;
}

#contact {
  position: relative;
  background-color: #555555;
}

.contact-container {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.contact-container > h1 {
  position: absolute;
  left: 50%;
  top: -5rem;
  transform: translateX(-50%);
  font-size: 2rem;
}

.contact-wrap {
  position: relative;
  margin: 3rem;
}

.contact-wrap > .img > img {
  position: relative;
  top: 0;
  width: 5rem;
  transition: all 0.5s;
}

.contact-wrap > .img:hover img {
  top: -0.5rem;
  width: 5rem;
}

.contact-wrap > .img > p {
  visibility: hidden;
  border: 5px solid white;
  background-color: white;
  font-weight: 700;
  color: #555;
  border-radius: 1rem;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
}

.contact-wrap > .img:hover p {
  visibility: visible;
  opacity: 1;
}

.scroll-top > a {
  position: absolute;
  left: 50%;
  bottom: 3rem;
  transform: translateX(-50%);
  width: 2.5rem;
  height: 2.5rem;
  border: 3px solid white;
  border-radius: 100%;
}

.scroll-top > a::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 0.5rem;
  height: 0.5rem;
  border-left: 3px solid white;
  border-top: 3px solid white;
}

/* scroll button */
.scroll > a {
  position: absolute;
  left: 50%;
  bottom: 3rem;
  transform: translateX(-50%);
  width: 2rem;
  height: 3rem;
  border: 2px solid white;
  border-radius: 3rem;
  transition: all 1s;
}

.scroll > a:hover {
  bottom: 2rem;
}

.scroll > a::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0.5rem;
  margin-left: -3px;
  border: 3px solid white;
  border-radius: 100%;
  animation: scrolling 2s infinite;
}

@keyframes scrolling {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, calc(2rem - 10px));
    opacity: 0;
  }
}
